@import "react-datepicker/dist/react-datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl outline-none;
}
textarea {
  height: 140px;
}
button {
  @apply bg-gray-300;
}
button.primary {
  @apply bg-primary/80 hover:bg-primary duration-200 p-2 w-full text-white rounded-2xl;
}
.admin a.active:not(:first-child) div {
  @apply bg-blue1 hover:bg-blue1/80 duration-200 text-white;
}
.rate-btn {
  @apply p-2 border-none;
}
.toggle-btn {
  @apply border-2 rounded-xl bg-primary/80 hover:bg-primary duration-200 p-2 text-white max-w-[150px];
}
.star:hover ~ .star {
  @apply text-yellow-500;
}
.fixed-star,
.fixed-star ~ .star {
  @apply text-yellow-500;
}

.searchbar:hover {
  overflow-y: auto;
}
.red {
  color: red;
}
*::-webkit-scrollbar {
  display: block;
  width: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border: 1px solid transparent;
  border-radius: 24px;
}

.paginate {
  @apply flex gap-4 justify-end items-center;
}
.paginate li a {
  @apply block bg-gray-200 text-primary p-3 rounded-full w-12 h-12 text-center font-bold;
}
.paginate li.selected a {
  @apply bg-primary text-white;
}
.paginate .disabled {
  @apply invisible;
}
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
